@import '../styles/variables.scss';

.banner {
    background-color: $neutral-color-dark;
    background: radial-gradient(at left top, $neutral-color-dark-2 65%, $neutral-color-dark 65%);
    height: 90vh;
    display: flex;
    justify-content: center;
}

.banner-inner {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1rem;
    align-items: center;
}

.banner-text h1 {
    color: $neutral-color-light;
    font-size: 3.5rem;
    font-weight: 600;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.2);
}

.banner-text h2 {
    color: $primary-color-light-3;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 300;
}

.banner-text a {
    background-color: $primary-color-dark-5;
    margin-top: 20px;
    font-size: 18px;
    color: $neutral-color-light;
}

.banner-text a:hover {
    background-color: $secondary-color-dark-5;
}

.circle {
    background-color: $neutral-color-dark-4;
    width: 512px;
    height: 512px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px 1px rgba(200, 200, 200, 0.1);
}

.circle-inner {
    background-color: $neutral-color-light-4;
    height: 100%;
    width: 100%;
    border-radius: 50% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease;
}

.circle-inner:hover {
    border-radius: 100% 50%;
}

.circle-inner img {
    width: 75%;
}

.main-technologies {
    background: radial-gradient(at left bottom, $neutral-color-light-2 65%, $neutral-color-light 65%);
    padding-top: 5rem;
}

.main-technologies .center-container:first-child {
    margin-bottom: 2rem;
}

.skills-slider-tablet {
    display: none;
}

.featured-images {
    width: 200px;
    filter: grayscale(100%);
    transition: .3s ease;
}

.featured-images:hover {
    transform: scale(1.1);
    filter: none;
}

.featured-images-container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-technologies .center-container a {
    background-color: $primary-color-dark-5;
    color: $neutral-color-light;
    margin-top: 2rem;
    font-size: 18px;
}

.main-technologies .center-container a:hover {
    background-color: $secondary-color-dark-5;
}

.featured-projects {
    background: radial-gradient(at left top, $neutral-color-light-2 65%, $neutral-color-light 65%);

    .mockup-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        margin-top: 3rem;
    }

    a {
        background: $primary-color-dark-5;
        color: $neutral-color-light;
        font-size: 18px;
    }

    a:hover {
        background: $secondary-color-dark-5;
    }

}

.main-benefits {
    background: transparent;
}

.contact {
    background: url(../images/contact-section.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 5rem;

    .contact-inner {
        width: 700px;
        margin: auto;
        background: rgba($neutral-color-light, .9);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
        border-radius: 1rem;
    }
}

.icon-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 2rem;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p {
        text-align: center;
        color: $neutral-color-dark;
    }

    img {
        width: 75px;
        transition: .3s ease;
    }

    img:hover {
        transform: scale(1.1);
    }
}

.skills-slider-mobile {
    display: none;
}

@media (max-width: 1024px) {
    .banner-text h1 {
        font-size: 2.8rem;
    }

    .banner-text h2 {
        font-size: 1.9rem;
    }

    .banner-text a, .main-technologies .center-container a, .featured-projects a {
        font-size: 1rem;
    }

    .circle {
        width: 384px;
        height: 384px;
    }

    .icon-grid {
        img {
            width: 65px;
        }
    }

    .contact {
        .contact-inner {
            width: 600px;
        }
    }

    .featured-images-container {
        height: 105px;
    }

    .featured-images {
        width: 150px;
    }
}

@media (max-width: 768px) {
    .banner {
        height: 100%;
        padding: 3rem 0;
    }

    .banner-text h1 {
        font-size: 2rem;
        margin-left: 1rem;
    }

    .banner-text h2 {
        font-size: 1.375rem;
        margin-left: 1rem;
    }

    .banner-text a {
        margin-left: 1rem;
    }

    .circle {
        width: 250px;
        height: 250px;
    }

    .main-technologies {
        padding-top: 3rem;
    }

    .skills-slider {
        display: none;
    }

    .skills-slider-tablet {
        display: block;

        .featured-images {
            width: 225px;
        }
    }

    .contact {
        padding: 0;

        .container {
            width: 100%;
        }
        
        .contact-inner {
            width: 100%;
            border-radius: 0;
        }
    }

    .banner-text a, .main-technologies .center-container a, .featured-projects a {
        font-size: 15px;
    }
}

@media (max-width: 599px) {
    .banner-inner {
        display: flex;
        flex-direction: column-reverse;
    }

    .banner-text {
        text-align: center;
    }

    .circle {
        width: 300px;
        height: 300px;
    }

    .skills-slider-tablet {
        display: none;
    }

    .skills-slider-mobile {
        display: block;
        margin-bottom: -1.5rem;

        img {
            width: 200px;
        }
    }

    .icon-grid {
        display: block;

        div {
            margin-bottom: 2rem;
        }

        div:last-child {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 320px) {
    .circle {
        width: 275px;
        height: 275px;
    }
    
    .skills-slider-mobile {
        margin: 0;
    }
}

@media (min-width: 1600px) {
    .banner-text h1 {
        font-size: 4.2rem;
    }

    .banner-text h2 {
        font-size: 2.9rem;
    }

    .banner-text a, .main-technologies .center-container a, .featured-projects a {
        font-size: 20px;
    }

    .circle {
        width: 684px;
        height: 684px;
    }

    .featured-images-container {
        height: 125px;
    }

    .featured-images {
        width: 250px;
    }

    .contact .contact-inner {
        width: 900px;
    }
}