// Imports
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');
@import "./variables.scss";

// Global styling
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: $neutral-color-light;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.button {
    display: inline-block;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 1rem;
    font-weight: 600;
    transition: .2s ease;
    box-shadow: $shadow;
}

.button:hover {
    box-shadow: none;
}

  
.cta {
    position: relative;
    margin: auto;
    padding: 14px 30px;
    transition: all 0.2s ease;
    text-decoration: none;
    display: inline-block;
    margin-top: 2rem;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 25px;
    background: rgba($primary-color-dark-5, 1);
    width: 50px;
    height: 50px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
    color: $neutral-color-light;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: $neutral-color-light;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: $secondary-color-dark-5;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.96);
}

.sub-heading {
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
    color: $neutral-color-dark;
    background: linear-gradient(to top, $primary-color-light-2 35%, transparent 35%);
    display: inline;
}

.small-heading {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: .5rem;
    color: $neutral-color-dark-2;
}

.center-container {
    text-align: center;
}

.outer-container {
    padding-bottom: 7rem;
}

.double-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.triple-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.two-one-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}

.active {
    color: $primary-color-light-5;
}

@media (max-width: 1024px) {
    .container {
        width: 768px;
    }

    .sub-heading {
        font-size: 2.2rem;
    }
}

@media (max-width: 834px) {
    .container {
        width: 600px;
    }

    .outer-container {
        padding-bottom: 4rem;
    }

    .sub-heading {
        font-size: 2rem;
    }
}

@media (max-width: 600px) {
    .container {
        width: 95%;
    }

    .outer-container {
        padding-bottom: 2rem;
    }

    .sub-heading {
        font-size: 1.8rem;
    }

    .button {
        padding: 11px 25px;
    }

    .double-grid, .triple-grid {
        display: block;
    }
}

@media (max-width: 320px) {
    .sub-heading {
        font-size: 1.6rem;
    }

    .button {
        padding: 10px 20px;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1368px;
    }

    .button {
        padding: 13px 40px;
    }

    .sub-heading {
        font-size: 2.8rem;
    }

    .outer-container {
        padding-bottom: 8rem;
    }
}